*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: Oswald;
  --main-text-color: black;
}

.main-heading {
  font-size: 3rem;
}

.header {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: rgb(70, 70, 177);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.header {
  padding: 1rem;
  --main-color: #cfe0e8;
  text-align: center;
  background-image: linear-gradient(235deg, var(--main-color), #87bdd8);
}

.nav-link {
  margin: 0.5rem;
}

.main {
  margin: 2rem;
}

details summary {
  list-style: none;
  cursor: pointer;
  color: blue;
  /* you can style it however you want, use background-image for example */
}

li {
  margin-top: 1rem;
}

#profile-picture {
  border-radius: 50%;
  width: 40%;
  height: auto;
  margin-top: 3rem;
}

.table {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-columns: minmax(10px, auto);
}
