*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: Oswald;
  --main-text-color: black;
}

.main-heading {
  font-size: 3rem;
}

.header {
  text-align: center;
}

.profession {
  font-size: 1.1rem;
}

.header {
  padding: 1rem;
  --main-color: #cfe0e8;
  text-align: center;
  background-image: linear-gradient(235deg, var(--main-color), #87bdd8);
}

.nav-link {
  margin: 0.5rem;
  font-size: 1.2rem;
}

.main {
  margin: 2rem;
  font-size: 1.3rem;
}

details summary {
  cursor: pointer;
  color: blue;
  list-style: none;
}

details summary::before {
  content: "show details";
}

details[open] summary::before {
  content: "hide details";
}

details > summary::marker {
  display: none;
}

summary {
  font-style: italic;
}

summary::webkit-details-marker {
  color: transparent;
}
summary:focus {
  outline: 0;
}

li {
  margin-top: 1rem;
}

#profile-picture {
  border-radius: 50%;
  width: 40%;
  height: auto;
  margin-top: 3rem;
}

.table {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-columns: minmax(10px, auto);
}

/* START Skill bar styling */
.skill-container {
  width: 100%;
  background-color: #ddd;
}

.skill {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  font-size: 1rem;
}

.html {
  width: 70%;
  background-color: blueviolet;
}

.css {
  width: 60%;
  background-color: blueviolet;
}

.js {
  width: 80%;
  background-color: blueviolet;
}

.vue {
  width: 65%;
  background-color: blueviolet;
}

.git {
  width: 60%;
  background-color: blueviolet;
}

.node {
  width: 30%;
  background-color: blueviolet;
}

.npm {
  width: 30%;
  background-color: blueviolet;
}

.java {
  width: 80%;
  background-color: blueviolet;
}

.teamwork {
  width: 90%;
  background-color: blueviolet;
}

.databases {
  width: 30%;
  background-color: blueviolet;
}

.communication {
  width: 80%;
  background-color: blueviolet;
}

.adaptability {
  width: 80%;
  background-color: blueviolet;
}

.patience {
  width: 50%;
  background-color: blueviolet;
}

.problem-solving {
  width: 70%;
  background-color: blueviolet;
}

.time-management {
  width: 80%;
  background-color: blueviolet;
}

.english-language {
  width: 70%;
  background-color: blueviolet;
}

.italian-language {
  width: 70%;
  background-color: blueviolet;
}

.german-language {
  width: 100%;
  background-color: blueviolet;
}
/* END Skill bar styling */

.contact {
  list-style: none;
  padding: 0px;
}

footer {
  padding: 1rem;
  --main-color: #cfe0e8;
  text-align: center;
  background-image: linear-gradient(235deg, var(--main-color), #87bdd8);
}

#contact-button-container {
  position: relative;
  text-align: center;
}

li {
  list-style: none;
}

.hire-me {
  background-color: rgb(70, 70, 177);
  color: white;
  padding: 1.5em 4em;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 1.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  border-radius: 5px;
  opacity: 0.8;
  transition: 0.3s;
}

.hire-me:hover {
  background-color: rgb(70, 70, 177);
  opacity: 1;
}

.job-position {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .job-position {
    margin-bottom: 20px;
  }

  #profile-picture {
    border-radius: 50%;
    width: 30%;
    height: auto;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  #profile-picture {
    border-radius: 50%;
    width: 20%;
    height: auto;
    margin-top: 3rem;
  }
}
