*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: Oswald;
  --main-text-color: black;
}

.main-heading {
  font-size: 3rem;
}

.header {
  text-align: center;
}

.profession {
  font-size: 1.1rem;
}
.button {
  border-radius: 4px;
  background-color: rgb(70, 70, 177);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.header {
  padding: 1rem;
  --main-color: #cfe0e8;
  text-align: center;
  background-image: linear-gradient(235deg, var(--main-color), #87bdd8);
}

.nav-link {
  margin: 0.5rem;
  font-size: 1.2rem;
}

.main {
  margin: 2rem;
  font-size: 1.3rem;
}

details summary {
  cursor: pointer;
  color: blue;
  list-style: none;
}

details summary::before {
  content: "show details";
}

details[open] summary::before {
  content: "hide details";
}

details summary::webkit-details-marker {
  display: none;
}

summary {
  font-style: italic;
}

li {
  margin-top: 1rem;
}

#profile-picture {
  border-radius: 50%;
  width: 40%;
  height: auto;
  margin-top: 3rem;
}

.table {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-columns: minmax(10px, auto);
}

/* START Skill bar styling */
.skill-container {
  width: 100%;
  background-color: #ddd;
}

.skill {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
  font-size: 1rem;
}

.html {
  width: 70%;
  background-color: blueviolet;
}

.css {
  width: 60%;
  background-color: blueviolet;
}

.js {
  width: 80%;
  background-color: blueviolet;
}

.vue {
  width: 65%;
  background-color: blueviolet;
}

.git {
  width: 60%;
  background-color: blueviolet;
}

.node {
  width: 30%;
  background-color: blueviolet;
}

.npm {
  width: 30%;
  background-color: blueviolet;
}

.java {
  width: 80%;
  background-color: blueviolet;
}

.teamwork {
  width: 90%;
  background-color: blueviolet;
}

.databases {
  width: 30%;
  background-color: blueviolet;
}

.communication {
  width: 80%;
  background-color: blueviolet;
}

.adaptability {
  width: 80%;
  background-color: blueviolet;
}

.patience {
  width: 50%;
  background-color: blueviolet;
}

.problem-solving {
  width: 70%;
  background-color: blueviolet;
}

.time-management {
  width: 80%;
  background-color: blueviolet;
}

.english-language {
  width: 70%;
  background-color: blueviolet;
}

.italian-language {
  width: 70%;
  background-color: blueviolet;
}

.german-language {
  width: 100%;
  background-color: blueviolet;
}
/* END Skill bar styling */

.contact {
  list-style: none;
  padding: 0px;
}
